
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-family:'Yusei Magic', 'sans-serif';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;

}
a:hover {
  color:rgb(255, 98, 25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}


/* Scroll Bar Setting  */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 98, 25);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 69, 1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
