
// COlORS Variable--------------
$primary:rgb(255, 98, 25);
$primary-hover:rgb(192, 66, 8);
$secondary:rgb(240, 238, 238);
$pure:rgb(255, 255, 255);
$dark:rgb(0, 0, 0);
$gray:rgb(110, 110, 110);

//Transition Variable
$smooth: all 300ms ease-in-out;
 