@import './variable.scss';

.footer{
    height: 70px;
    background-color: $pure;
    width: 100%;
    color: $gray;

    .wrapper{
        height: 100%;
        display: grid;
        place-items: center;
        text-align: center;
    }
}