@import './variable.scss';

.nav{
    height: 70px;
    background-color: $pure;
    width: 100%;

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90%;
        margin: auto;
        
    position: relative;

        .leftNav{
            display: flex;
            align-items: center;
        }
        .rightNav{
            .navItems{
                display: flex;
                gap: 2rem;
                align-items: center;
                .navItem{
                    cursor: pointer;
                    font-size: 1.2rem;
                    transition: $smooth;
                    &:hover{
                        color: $primary-hover;
                    }

                    img{
                        background-color: $primary;
                        padding: 5px 10px;
                        border-radius: 15px;
                        transition: $smooth;

                        &:hover{
                            transform: scale(1.1);
                            background-color: $primary-hover;
                        }
                    }
                }

                .cartIcon{
                    position: relative;

                    .countBadge{
                        position: absolute;
                        top: -9px;
                        right: -9px;
                        background-color: rgb(255, 98, 25);
                        min-width: 15px;
                        min-height: 15px;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        font-size: 11px;
                        color: $pure;
                    }


                }
            }
        }

        .mobilMenu{
            position: absolute;
            top: 70px;
            right: 0px;
            background-color: rgb(255, 255, 255);
            width: 100%;
            display: flex;
            flex-direction: column;
            z-index: 1;
            justify-content: center;
            align-items: center;
            border-top: 1px solid;
            gap: 1rem;
            padding-top: 1rem;
            transition: $smooth;

            .navItem{
                img{
                    background-color: $primary;
                    padding: 5px 10px;
                    border-radius: 15px;
                    transition: $smooth;
        
                    &:hover{
                        transform: scale(1.1);
                        background-color: $primary-hover;
                    }
                }
            }

        }
    }

}

.hamburgerMenu{
    display: none;
}


@media screen and (max-width:'768px') {
    .rightNav{
        display: none;
    }

    .hamburgerMenu{
        display: block;
        font-size: 1.5rem;
    }
}